<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "com.ar.moebius-it.vivmo"
		versionCode=""
		version   = "1.0">
		<name>VIVMo</name>
		<description>
Aplicación para la medición y control de Viveros.		</description>
		<author href="www.interatech.com.ar" email="gabriel@interatech.com.ar">
Gabriel Suarez
		</author>
		<preference name="phonegap-version" value="3.6.3" />
		<preference name="orientation" value="landscape" />
		<preference name="fullscreen" value="true" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="true" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="false" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="false" />
		<preference name="HideKeyboardFormAccessoryBar" value="false" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="android-minSdkVersion" value="7" />
		<preference name="android-installLocation" value="internalOnly" />
		<preference name="SplashScreenDelay" value="5000" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value="0x000000"/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="false"/>
		<preference name="LoadingDialog" value=","/> 
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="false" />
		<gap:platform name="android" />
		<gap:platform name="winphone" />
		<gap:plugin name="org.apache.cordova.dialogs"  />
		<gap:plugin name="org.apache.cordova.file-transfer"  />
<param name="android-package" value="org.apache.cordova.dialogs.Notification" />
		<icon src="img/icon36.png" gap:platform="android" gap:density="ldpi" />
		<icon src="img/icon48.png" gap:platform="android" gap:density="mdpi" />
		<icon src="img/icon72.png" gap:platform="android" gap:density="hdpi" />
		<icon src="img/icon96.png" gap:platform="android" gap:density="xhdpi" />
		<icon src="img/icon144.png" gap:platform="android" gap:density="xxhdpi" />
		<icon src="img/icon192.png" gap:platform="android" gap:density="xxxhdpi" />
		<icon src="img/icon62.png" gap:platform="winphone" />
		<icon src="img/icon173.png" gap:platform="winphone" gap:role="background" />
		<icon src="img/icon64.png" />
		<gap:splash src="img/splash240.png" gap:platform="android" gap:density="ldpi" />
		<gap:splash src="img/splash320.png" gap:platform="android" gap:density="mdpi" />
		<gap:splash src="img/splash480.png" gap:platform="android" gap:density="hdpi" />
		<gap:splash src="img/splash720.png" gap:platform="android" gap:density="xhdpi" />
		<gap:splash src="img/splash1080.png" gap:platform="android" gap:density="xxhdpi" />
		<gap:splash src="img/splash480.png" gap:platform="winphone" />
		<gap:splash src="splash.png" />
	</widget>